#include "src/info.hpp"
1 ICON "img/favicon.ico"
1 VERSIONINFO
FILEVERSION 1, 0, 0, 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "ProductName", INFO_FULL_NAME
            VALUE "FileDescription", INFO_SHORT_NAME
            VALUE "ProductVersion", INFO_VERSION
            VALUE "CompanyName", INFO_DEVELOPER
            VALUE "LegalCopyright", "(C) 2023 - present " INFO_DEVELOPER "."
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 0x4B0
    END
END