1 VERSIONINFO
FILEVERSION 5,4,2
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
			VALUE "CompanyName","MaxLHy0424"
			VALUE "FileDescription","CRCSN"
			VALUE "InternalName","CRCSN"
			VALUE "LegalCopyright","(C) 2023 MaxLHy0424. All rights reserved."
			VALUE "ProductName","Computer Room Control Software Nemesis"
			VALUE "ProductVersion","v5.4.2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation",0x804,0x4B0
    END
END
1 ICON "img/favicon.ico"